@mixin column {
  display: flex;
  flex-direction: column;
}
.comment-block {
  padding: 0 20px;
  max-width: 640px;
  margin: 3.5rem auto 0;
  .comment {
    position: relative;
    &:not(:last-child) {
      margin-bottom: 0;
    }
    &:first-child {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:not(:first-child) {
      border-radius: 0;
    }
    &:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }

  .delete {
    position: absolute;
    top: 8px;
    right: 10px;
  }
  .comment-header {
    @include column;

    .author {
      color: #1a1a1a;
      font-size: 18px;
      line-height: 1.6;
    }
    time {
      color: #8590a6;
    }
  }

  .body {
    margin-top: 20px;
    word-wrap: break-word;
    word-break: break-word;
    p {
      font-size: 18px;
      line-height: 1.5;
      margin-top: 15px;
      text-justify: auto;
    }
    p:first-child {
      margin-top: 0;
    }
  }
}
