@mixin column {
  display: flex;
  flex-direction: column;
}
.comment-block {
  padding: 0 20px;
  max-width: 640px;
  margin: auto;
  .comment {
    height: auto;
    min-height: 200px;
    &:not(:last-child) {
      margin-bottom: 0;
    }
    &:first-child {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:not(:first-child) {
      border-radius: 0;
    }
    &:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }

  .comment-header {
    @include column;

    .author {
      color: #676867;
    }
  }

  .body {
    margin: 20px 0;
    word-wrap: break-word;
    word-break: break-word;
    p {
      font-size: 18px;
      line-height: 1.5;
      margin-top: 15px;
      text-justify: auto;
    }
    p:first-child {
      margin-top: 0;
    }
  }
}
