.post-container {
  margin-bottom: 10px;
  background: #fff;
  overflow: hidden;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(25, 25, 25, 0.1);
  box-sizing: border-box;
  padding: 16px 20px;
  &:last-child {
    margin-bottom: 0;
  }
  .post {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    .delete {
      position: absolute;
      top: 0;
      right: 0;
    }
    .category {
      color: #8590a6;
      font-size: 14px;
      line-height: 1;
    }
    .author {
      font-weight: 600;
      color: #444;
    }
    .post-title {
      font-size: 24px;
      font-weight: 600;
      line-height: 1.6;
      color: #1a1a1a;
    }
    .post-time {
      color: #8590a6;
      font-size: 14px;
      margin: 10px 0;
    }
    .content.is-thumbnail {
      max-height: 100px;
      font-size: 18px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

.CodeMirror-empty {
  outline: 1px solid #c22;
}
.CodeMirror-empty.CodeMirror-focused {
  outline: none;
}
.CodeMirror pre.CodeMirror-placeholder {
  color: #999;
}
