.comment-container {
  margin-bottom: 10px;
  background: #fff;
  overflow: hidden;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(25, 25, 25, 0.1);
  box-sizing: border-box;
  padding: 16px 20px;
  &:last-child {
    margin-bottom: 0;
  }
  .comment {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    .delete {
      position: absolute;
      top: 0;
      right: 0;
    }
    .category {
      color: #8590a6;
      font-size: 14px;
      line-height: 1;
    }
    .author {
      font-weight: 600;
      color: #444;
    }
    .comment-title {
      font-size: 24px;
      font-weight: 600;
      line-height: 1.6;
      color: #1a1a1a;
    }
    .comment-time {
      color: #8590a6;
      font-size: 14px;
      margin: 10px 0;
    }
    .body {
      max-height: 100px;
      font-size: 18px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .actions {
    .button {
      color: #0084ff;
      background: rgba(0, 132, 255, 0.1);
      border-color: transparent;
      padding: 0 12px;
      margin-right: 5px;
      &:focus {
        color: #fff;
        background-color: #0084ff;
      }
    }
  }
}
